.containerL{
	width: 1536px;
	height: 512px;
	background: url(../static/img/cj.png);
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.good {
	position: absolute;
	top: -6px;
	left: 900px;
}

.img {
	width: 325px;
}

.list1 {
	position: absolute;
	top: 243px;
	left: 99px;
	text-align: center;
	width: 134px;
}
.list2 {
	position: absolute;
	top: 210px;
	left: 99px;
	text-align: center;
	width: 134px;
}
.list3 {
	position: absolute;
	top: 178px;
	left: 99px;
	text-align: center;
	width: 134px;
}

 .lis{

    -webkit-background-clip: text;     /*按文字裁剪*/
    -webkit-text-fill-color: transparent;     /*文字的颜色使用背景色*/
    background-color:#19385c;     /*设置一个背景色*/
    background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.6) 30%, #aff0ff 50%, rgba(0, 0, 0, 0.6) 70%);          /*设置渐变的背景，按对角线渐变*/
    background-blend-mode: hard-light;    /*设置背景为混合模式下的强光模式*/
    background-size: 200%;
    -webkit-animation: shine 4s infinite;    /*给背景添加动画改变位置*/
}
@-webkit-keyframes shine {

    from {background-position: 100%;}

    to {background-position: 0;}

}

.lis p{
	margin: 0;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.lis .pp{
	height: 22px;
	line-height: 22px;
}

/* .jl{position: absolute;
    width:100%;max-width:1500px;margin:0 auto;text-align:center;

    left:150px;
    top:0;
} */
.jlDiv{
    float:left;
    margin-top:100px;
    margin-left: 340px;
    z-index: 999;
}
.title{
    line-height:80px;text-align:center;font-size:50px;color:#DDAC44;font-weight: bold;
}
.t1{
    margin-top:260px;
}
.code{
    border-radius:10px;display: block;width:400px;height:60px;line-height:60px;margin:20px 0;text-align:left;font-size:30px;background: #FFF49E;color:#730011;
}

.codes{
	border-radius: 10px;
    display: block;
    width: 400px;
    height: 46px;
    line-height: 46px;
    margin: 20px 0;
    text-align: left;
    font-size: 24px;
    background: #FFF49E;
    color: #730011;
}
.cc{
    margin:6px 0;
}
.dd{
    margin:2px 0;
}
.btnss{
    margin: 0 auto;
    text-align:center;border-radius:10px;display: block;width:160px;height:40px;line-height:40px;font-size:28px;
    font-weight: bold;color:#730011;
    cursor: pointer;
}

.start{background: #FFF49E;}
.stop{background: #ddac44;}